{erl_opts, [
    {platform_define, "^(19|2)", rand_only},
    {platform_define, "^(R|1|20)", fun_stacktrace}
]}.

{project_plugins, [rebar3_proper]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.

{edoc_opts, [
    {dir, "doc"}, {preprocess, true}, {stylesheet, "style.css"}, {title, "depcache"}, {application, depcache}
]}.

{profiles, [
	{edoc_private, [
		{edoc_opts, [
			{private, true}
		]}
	]},
	{test, [
	    {dialyzer, [
          {warnings, [
              no_return
          ]}
        ]},
        {deps, [{proper, "1.4.0"}]},
		{erl_opts, [{platform_define, "^20",
                'OTP_GREATER_THAN_20'}]}
    ]}
]}.