{erl_opts, [
    {platform_define, "^(19|2)", rand_only},
    {platform_define, "^(R|1|20)", fun_stacktrace}
]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.

{edoc_opts, [
    {preprocess, true}, {stylesheet, "style.css"}
]}.

{profiles, [
	{edoc_private, [
		{edoc_opts, [
			{private, true}
		]}
	]},
	{test, [
	    {dialyzer, [
          {plt_extra_apps, [proper, eunit]},
          {warnings, [
              no_return
          ]}
        ]},
		{plugins, [
            rebar3_proper
        ]},
        {deps, [{proper, "1.4.0"}]}
    ]}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {extras, [
          {"README.md", #{title => "Overview"}},
          {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/zotonic/depcache"},
    {assets, "assets"},
    {api_reference, true}
]}.
